  "  shapes {\n"
  "    shape_type: {1}\n"
  "    position {\n"
  "      x: {2}\n"
  "      y: {3}\n"
  "      z: 0.0\n"
  "    }\n"
  "    rotation {\n"
  "      x: 0.0\n"
  "      y: 0.0\n"
  "      z: 0.0\n"
  "      w: 1.0\n"
  "    }\n"
  "    index: {4}\n"
  "    count: {5}\n"
  "  }\n"